body {
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 14px;
    color: #333538;
    background-color: #ececec;
	margin: 0;
	padding: 10px 20px;
	max-width: 800px;
}

main {
	padding: 20px 0;
}

main * {
	margin: 0 0 10px 0;
	padding: 8px;
	background: #dfdfdf;
	font-size: 16px;
	border-radius: 4px;
}

input {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
	font-family: Helvetica, Arial;
    appearance:none;
	display: block;
	font-size: 18px;
    border: 2px solid #cacaca;
	width: 100%;
	padding: 7px 10px;
	outline: none;
	background: #f2f2f2;
	box-sizing: border-box;
	border-radius: 4px;
}

code {
	font-size: 14px;
	background: #f4f3f0;
	margin: 0;
	display: inline-block;
	padding: 4px 4px;
	border-radius: 4px;
	color: #666;
}
